albumentations==1.4.24
coremltools
filterpy
Flask==2.3.2
Flask-Cors
hickle
ipython
keras==3.7.0
lap
matplotlib
numpy<2.0
onnx
onnx_graphsurgeon
onnxruntime
onnxsim
opencv-python
opencv-python-headless
openvino
pafy
pandas
Pillow
psutil
pycocotools
PyYAML
requests
scipy
seaborn
setuptools
scikit-image
tensorflow==2.18.0
torch==2.0.1
torchvision==0.15.2
tqdm
